@page
@model BurgerOrderApp.Pages.Checkout.ThanksPageModel
@{
}
<div class="text-center">
    <h1>Thank you for order our Burger!</h1>
    <h2>Waiting for you next time</h2>
    @*<img src="https://e7.pngegg.com/pngimages/613/780/png-clipart-squidward-tentacles-patrick-star-mr-krabs-spongebob-squarepants-the-broadway-musical-karen-squidward-drawing-hand-vertebrate-thumbnail.png" />*@
</div>
