@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4">Welcome</h1>
        <h2 class="display-4">To Our Burger Cafe</h2>
    </div>
    <img class="mainImage" src="https://img.freepik.com/premium-vector/burger-logo_18228-1173.jpg" />
</div>
<div class="text-center"><a class="btn btn-primary mt-3" asp-area="" asp-page="/Burger">Buy a Burger!</a></div>

